.collapse.in {
    display: inline-table;
}
.hiddenRow {
    display: none ;
}

.showRow {
    display: table-row ;
}

.highlightYellow {
    background-color: #FFFF88;
}

.highlight {
    background-color: #DF0101;
}

.changeNewType {

}