.collapse.in {
    display: table;
    width: 100%;
}
.hiddenRow {
    display: none ;
}

.showRow {
    display: table-row ;
}

#commandBoard {
     width:1200px;
     padding:10px;
     float: left;
     background-color: #ffffff;
 }
#menu {
    width:200px;
    padding:10px;
    background-color: #ffffff;
}
#backgroundIndex {

}

.highlight {
    background-color: #DF0101;
}

.changeNewType {

}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}
